* {

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }
  
  .body-text {
  
    display: flex;
  
    font-family: "Montserrat", sans-serif;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: 250px;
  
  }
  
  nav {
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    min-height: 8vh;
  
    background-color: teal;
  
    font-family: "Montserrat", sans-serif;
  
  }
  
  .heading {
  
    color: white;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }

.heading a{
  color: white;
  list-style: none;
  text-decoration: none;
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a {
  
    color: white;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: lightseagreen;
  
  }
  
  .nav-links li a.active {
  
    background-color: #4caf50;
  
  }
/*above nav***********************************************/

  .front-img{
    margin: 0;
    height: 710px;
    width: 100%;
  }

  .info
  {
    background-color: black;
    height: 400px;
    width: 100%;
  }

  .info h2{

    font-size: 100px;
  }

  footer{
    text-align: center;
    background-color: #0D1282;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    border-width: 0;
    
  }

  .footer h4{
    text-align: center;
    margin-top: 0;
    border: 0;
    padding: 0;
    color: white;
   
  }

  .popularCities{
    background-color: black;
    width: auto;
  }

  .popularCities img {
    margin: 10px 5px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }

  /* .login-form {
    text-align: center;
  } */

  /* .Register-form {
    text-align: center;
    padding: 25px;
  } */

  /* .login-form {
    padding: 25px;
  } */


  /*************textlog****************/
  .textlog{
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /*img*/
  .onLogin {
    margin: 0%;
    position: relative;
    /* height: 100%;
    width: 100%; */
}

.onLogin img{
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.first-txt {
  text-align: center;
    position: absolute;
    top: 20%;
    left: 45%;
}

.onReg {
  margin: 0%;
  position: relative;
  /* height: 100%;
  width: 100%; */
}

.onReg img{
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.sec-txt {
  text-align: center;
    position: absolute;
    top: 20%;
    left: 45%;
}

/* #info{
  text-align: center;
  position: absolute;
  /* top: 20%;
  left: 45%; */


.thir-txt {
  text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
}
.onContact {
  margin: 0%;
  position: relative;
  /* height: 100%;
  width: 100%; */
}
.for-txt {
 /* text-align: center;*/
  position: absolute;
  top: 30%;
  right:  10%;
}

.btn {
  left: 200px;
}

.reserve {
  margin: 0%;
  position: absolute;

  height: 100%;
  width: 100%;
}

.reserve img{
  object-fit: fill;
  
  height: 100%;
  width: 100%;
}

.five-txt {
  text-align: center;
    position: absolute;
    top: 20%;
    left: 20%;
}

.five-txt img {
  height: 250px;
  width: 450px;
}

/*slide**************************************/
#carouselExample{
  height: 700px;
  width: 100%;
}

.carousel-inner img{
  height: 700px;
}

.first-txt lbtn{
  height: 25px;
  width: 15%;
  background-color: aqua;
}

/* lbtn login buttons */
.lbtn{
  padding: 10px 20px;
  background-color: #0D1282;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.lbtn:hover{
  background-color: yellow;
  color: black;
}